@import "imports/defaults";

.turn-card-forwards {
    animation: turn-card 0.5s forwards linear;
}
.turn-card-backwards {
    animation: turn-card 0.5s backwards linear;
}

@keyframes turn-card {
    0% {
        transform: perspective(400px) rotateY(0deg);
    }
    100% {
        background: #888;
        transform: perspective(400px) rotateY(180deg);
    }
}

.invisible {
    visibility: hidden;
}

//****************************************************************************
.game {
    display: flex;
    flex-direction: column;
    align-items: center;

    &Top {
        align-self: stretch;
        background-color: #ff000060;
        color: white;
        text-align: center;

        h1 {
            font-size: 10vmin;
            font-weight: 600;
            font-variant: small-caps;
            padding: 0.5rem;
            -webkit-text-stroke: 4px #600000;
        }
        p {
            font-size: 6vmin;
            padding: 0.5rem 4rem;
            -webkit-text-stroke: 1px #600000;
        }

        &Stats {
            display: flex;
            width: 100%;
            justify-content: center;
        }
    }

    &Board {
        margin: 3vmin;
        padding: 3vmin;

        display: grid;
        grid-template-columns: repeat(6, 1fr);

        // display: flex;
        // flex-wrap: wrap;
        // justify-content: center;

        justify-items: center;
        align-items: center;
        align-content: center;
        gap: 1rem;

        background: whitesmoke;
        border-radius: 5vmin;

        &Card {
            width: 15vmin;
            height: 15vmin;
        }
    }
}
